.welcome {
  color: rgb(53, 50, 50);
  text-align: center;
}

table {     
    width: 50%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: auto; 
  }

  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;    
    
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  