.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #58b368;
    width: 100%;
    height: 40px;
    align-items: center;
}

.navbar > h1 {
    color: rgb(53, 50, 50);
    padding-left: 5%;
}

.nav-tag{
    padding-right: 5%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(53, 50, 50);
    transition: color 0.2s ease;
}

.nav-tag:hover{
    color: white;
}

